/* simple style reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Konigsberg';
    src: url('../fonts/Konigsberg.otf');
}
:root{
    --bg-color: rgb(182, 205, 251);
    --acc-color: rgb(252, 202, 252);
    --font-color: rgb(255, 255, 255); 
    --outline-color: rgb(50,50,50);
}

html{
    font-size: calc(0.8rem + 0.2vw);
}

body{
    font-family: 'Konigsberg';
    color: var(--font-color);
    background: repeating-linear-gradient(
        to right,
        var(--bg-color),
        var(--bg-color) 95px,
        var(--acc-color) 95px,
        var(--acc-color) 190px);
    height: 100vh;
}

nav{
    position:sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    padding: 15px 70px;
    transition: all .6s ease-in-out;
    border-bottom: 3px solid white;
}
/* #bar{
    height: 6px;
    border-top: 1px var(--outline-color) solid;
    border-bottom: 1px var(--outline-color) solid;
    background-color: white;
    box-shadow: 0px .5px 2px rgb(130,130,130);
} */

#logo{
    display: flex;
    gap: 20px;
}

#logo img{
    height: 5.5rem;
}

#title{
    font-size: 2.2rem;
    -webkit-text-stroke: .3px var(--outline-color);
    overflow-wrap: break-word;
    width: 200px;
}

ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

ul button{
    font-family: 'Konigsberg';
    color: var(--font-color);
    background-color: var(--acc-color);
    font-size: 1.9rem;
    font-weight: 200px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    padding: 2px 10px;
    -webkit-text-stroke: 1.1px rgb(0, 0, 0);
    border: 1px solid var(--outline-color);
    border-radius: 10px;
}

ul button:hover{
    color: var(--bg-color);
    scale: 1.03 1.04;
}
ul button:active{
    color: var(--bg-color);
}

.active{
    color: var(--bg-color);
}
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
}

#content > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 900ms;
    transition: opacity 700ms linear;
    width: 70%;
    text-align: center;
}

.home{
    font-size: 2.5rem;
    gap: 65px;
    -webkit-text-stroke: 1px var(--outline-color);
}

.about{
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.about p{
    width:90%;
    font-size: 1.9rem;
    -webkit-text-stroke: .8px var(--outline-color);
}

.about img{
    position:relative;
    height: 550px;
    width: 100vw;
    object-fit: cover;
    border-top: 3.5px white solid;
    border-bottom: 3.5px white solid;
}

.about > div{
    position:relative;
    text-align: center;
}

.about > div p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 11rem;
    -webkit-text-stroke: 2px var(--outline-color);
}

#container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 50px;
    row-gap: 20px;
    justify-items: center;
}

#card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    padding: 40px;
}

#card img{
    height: 300px;
    width: auto;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
